<html>
<head>
    <title>Locations | AF Library</title>
</head>
<body>
    <div id="header">
        <h1>AF Library</h1>
        <a>About</a>
        <a>Login</a>
    </div>
    <div id="content">
        <h2>All Items</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Data Source</th>
                </tr>
                </thead>
                <tbody>
                {{range .Items}}
                <tr id="item-{{.ID}}">
                    <td>{{.ID}}</td>
                    <td>{{.Title}}</td>
                    <td>{{.Code}}</td>
                    <td>{{.CodeType}}</td>
                    <td>{{.CodeSource}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
    </div>
</body>
</html>
